@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Poppins");
}

@font-face {
  font-family: "IM Fell Great Primer", serif;
  font-style: italic;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i");
}

.home__bg {
  position: relative;
}

.home__bg-image {
  align-items: center;
  background-image: url("../assets/homeplants.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
}

.home__box {
  background-color: rgba(206, 226, 211, 0.65);
  padding: 80px;
  border-radius: 4px;
}

.home__header {
  text-align: center;
}
/* img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
} */

.home__header-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-style: italic;
  font-family: Poppins;

  /* font-weight: bold;
  font-style: italic;
  font-family: Poppins;
  color: rgb(5, 74, 131);
  font-size: 100px;
  text-align: center;
  position: absolute;
  top: 20vh;
  right: 0;
  left: 0;
  z-index: 999; */
}

.home__header-subtitle {
  font-weight: bold;
  font-style: italic;
  font-family: IM Fell Great Primer;
  color: black;
  font-size: 25px;

  /* font-weight: bold;
  font-style: italic;
  font-family: IM Fell Great Primer;
  color: black;
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 40vh;
  right: 0;
  left: 0;
  z-index: 999; */
}

.home__button-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.home__button {
  background-color: #b35acc;
  font-size: 18px;
  border-radius: 4px;
  margin: 0 20px;
  padding: 10px 20px;
  border-color: #482738;
  border-width: 1px;
}

.home__button:hover,
.home__button:focus {
  background-color: #d49fe4;
  cursor: pointer;
}

.home__button:active {
  background-color: #8d3a7a;
}

#buttonOne {
  /* float: left; */
}

#buttonTwo {
  /* float: right; */
}
