display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials {
    display: flex;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?family=Poppins');
}

@font-face {
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i');
}

a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
}

input, select, textarea {
    outline: none;
    appearance: unset !important;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
}

input[type=checkbox] {
    appearance: checkbox !important;
}

input[type=radio] {
    appearance: radio !important;
}

img {
    width: 100%;
    height: 100%;
}

figure {
    margin: 0;
}

p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777;
}

:local(h2) {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 100px;
}

.main {
    padding: 75px 0;
    background-size: 30px 30px;
    background: #9dc183 radial-gradient(#ffffff75 10%, transparent 0),
    radial-gradient(#fff8e973 10%, transparent 0) 0 0, 15px 15px;
}

.clear {
    clear: both;
}

html, body {

    height: 100%;
    margin: 0px;
}

.bg {
    height:100vh;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),
    url("../assets/plant-background.jpg") no-repeat center fixed;
    background-size: cover;
}

.container {
    height:100%;
    width: 750px;
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 7px 16.83px 0.17px rgba(134, 133, 133, 0.67);
}

.display-flex {
    justify-content: space-between;
    align-items: center;
}

.display-flex-center {
    justify-content: center;
    align-items: center;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup {
    z-index: 1
}

.signup-content {
    padding-top: 40px;
    padding-bottom: 60px;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.15),
    0 -10px 0 -5px #eee,
    0 -10px 1px -4px rgba(0,0,0,0.15),
    0 -20px 0 -10px #eee,
    0 -20px 1px -9px rgba(0,0,0,0.15);
}

.signup-form, .signup-image, .signin-form, .signin-image {
    width: 50%;
    overflow: hidden;
}

.form-title {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 36px;
    margin-left: 34%;
    font-style: italic;
}

.signup-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px;
}

figure {
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.form-submit {
    display: inline-block;
    background: #266A2E;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 12px 35px;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 95px;
    margin-bottom: 20px;
    cursor: pointer;
}

.form-submit:hover {
    background: #005502;
}

#signin {
    margin-top: 16px;
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 13px;
}

.signup-image-link {
    font-size: 13px;
    color: #222;
    display: block;
    text-align: center;
    font-weight: 400;
    font-family: roboto
}

.term-service {
    font-size: 13px;
    color: #222;
}

.signup-form {
    margin: 0px 100px 0px 180px
}

.register-form {
    margin-left: 40px;
    margin-right: 40px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.form-group:last-child {
    margin-bottom: 0px;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
    font-size: 13px;
}

input:focus {
    border-bottom: 1px solid #222;
}

input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none;
}

input[type=checkbox]:not(old) + label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px;
}

input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #999;
    border-radius: 2px;
    background: white;
    vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span {
    background-image: linear-gradient(white, white);
}

input[type=checkbox]:not(old):checked + label > span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
}

.agree-term {
    display: inline-block;
    width: auto;
}

label {
    position: absolute;
    padding-left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #222;
}

.label-has-error {
    top: 22%;
}

label.error {
    position: relative;
    background-position-y: 3px;
    padding-left: 20px;
    display: block;
    margin-top: 20px;
}

label.valid {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background: transparent;
}

label.valid:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f269';
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 16px;
    color: green;
}

.label-agree-term {
    position: relative;
    top: 0%;
    transform: translateY(0);
}

.material-icons-name {
    font-size: 18px;
}

.signin-content {
    box-shadow: 0 -1px 1px rgba(0,0,0,0.15),
    0 -10px 0 -5px #eee,
    0 -10px 1px -4px rgba(0,0,0,0.15),
    0 -20px 0 -10px #eee,
    0 -20px 1px -9px rgba(0,0,0,0.15);
}

.signin-form {
    margin: 60px 100px 90px 180px;
}

.signin-image {
    margin-right: 0;
}

#lr-application-title {
    font-family: IM Fell Great Primer;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    margin-top: 0;
    font-weight:bold;
}

#lr-application-description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
    line-height: 1.5;
    font-style: italic;
    font-size: 14px;
    font-family: roboto;
}

.goal-cards {
    margin-left: 150px;
    margin-right: 0;
}

.img_wrp {
    display: inline-block;
    position: relative;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
}