<html>

<head>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-light_green.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div id="toggle-buttons">
    <h1 id="application-title">
        Bloom
    </h1>
    <h2 id="application-description">
        Welcome Maria!
    </h2>
    <div class="fab">
        <i id="add-button" class="material-icons"> add </i>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        ALL
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        PRIORITY
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        COMPLETED
    </button>
    <hr>
</div>
<div id="container">
    <div class="mdl-card mdl-shadow--2dp demo-card-square">
        <div class="mdl-card__title mdl-card__accent mdl-card--expand">
            <img src="assets/cactus.jpg">
        </div>
        <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    create
                </i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    star_border
                </i>
            </button>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp demo-card-square">
        <div class="mdl-card__title mdl-card__accent mdl-card--expand">
            <img src="assets/greenhouse.jpg">
        </div>
        <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    create
                </i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    star_border
                </i>
            </button>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp demo-card-square">
        <div class="mdl-card__title mdl-card--expand">
            <img src="assets/meadow.jpg">
        </div>
        <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    create
                </i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    star_border
                </i>
            </button>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp demo-card-square">
        <div class="mdl-card__title mdl-card--expand">
            <img src="assets/cactusflowers.jpg">
        </div>
        <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    create
                </i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    star_border
                </i>
            </button>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp demo-card-square">
        <div class="mdl-card__title mdl-card--expand">
            <img src="assets/garden.jpg">
        </div>
        <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    create
                </i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    star_border
                </i>
            </button>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp demo-card-square">
        <div class="mdl-card__title mdl-card--expand">
            <img src="assets/plants.jpg">
        </div>
        <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    create
                </i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    star_border
                </i>
            </button>
        </div>
    </div>
</div>
</body>
</html>
