<html>
<head>
    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>
<body>

<% if (!user) { %>
<h1>Hi there! This is a placeholder because you are not currently logged in.</h1>
<% } %>

</body>