extends layout

block content
    if (!user)
        p This page will ultimately be our home page. To be updated at a later date!
        a(href="/login") Login
        br
        a(href="/register") Register
    if (user)
        p Welcome #{user.username}! This is the homepage
        a(href="/logout") Logout