<html>
<head>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-light_green.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="css/index.css">

    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            crossorigin="anonymous"></script>
</head>
<body>
<% if (!user) { %>
<h1>Hi there! This is a placeholder because you are not currently logged in.</h1>
<% } else { %>
<div id="header">
    <h1 id="application-title">
        Bloom
    </h1>
    <h2 id="application-description">
        Welcome <%= user.username %>!
    </h2>
    <div class="fab" data-toggle="modal" data-target="#addGoalModal">
        <i id="add-button" class="material-icons"> add </i>
    </div>

    <div class="modal fade" id="addGoalModal" tabindex="-1" role="dialog" aria-labelledby="addGoalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Goal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="add-goal" class="modal-body">
                    <form action="goals/create" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="goalTitle">Goal Title</label>
                            <input type="text" class="form-control" name="goalTitle" id="goalTitle">
                        </div>
                        <div class="form-group">
                            <label for="goalDescription">Goal Description</label>
                            <textarea class="form-control" name="goalDescription" id="goalDescription"
                                      rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control-file" name="uploadPicture" id="uploadPicture">
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Add Item" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        All
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Priority
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Completed
    </button>
    <hr>
</div>

<div id="container">
    <% if (goal_list.length === 0) { %>
    <p>You currently have no goals. Add one by clicking the '+' button! </p>
    <% } else {
    for(let i = 0; i < goal_list.length; i++) { %>
    <div class="mdl-card mdl-shadow--2dp demo-card-square">
        <div class="mdl-card__title mdl-card__accent mdl-card--expand">
            <img src=<%= goal_list[i].img %>>
        </div>
        <div class="mdl-card__supporting-text">
            <p><%= goal_list[i].description %></p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    create
                </i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">
                    star_border
                </i>
            </button>
        </div>
    </div>
    <% } %>
    <% } %>
</div>
<% } %>
</body>
</html>

